/.venv/
/.idea/LNKD.tech Editor.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/BeatSaberPerformanceAnalysis.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/
/error/
/dataset/map_infos/
/dataset/raw/
/dataset/scores/
